.main{
   
    width: 80%;
    margin-left: 10%;
}

.header{
    height: 100px;
    width: 100%;
    background-color: #ccc;
}
.header>input{
    width: 40%;
    height: 50px;
    margin: 25px 30%;
}

.content{
    width: 100%;
    margin-top: 20px;
    border:1px solid #ccc;
}